/* src/app/tabs/tabs.page.scss */

ion-tab-button {
    ion-img {
      width: 24px; /* Définissez la largeur souhaitée */
      height: 24px; /* Définissez la hauteur souhaitée */
    }
  }
  /* src/app/tabs/tabs.page.scss */

ion-tab-bar {
    background-color: white !important;
  }
  /* src/app/tabs/tabs.page.scss */

.white-background {
    background-color: white !important;
  }
  
  
  