<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="navigateTo('/tabs/tab1')" class="home-button white-background">
    <ion-img src="assets/home.png" alt="Home Icon"></ion-img>
    <ion-label></ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="navigateTo('/tabs/tab2')" class="white-background">
    <ion-img src="assets/heart.png" alt="Tab 2 Icon"></ion-img>
    <ion-label></ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="navigateTo('/tabs/tab3')" class="white-background">
    <ion-img src="assets/user.png" alt="Tab 3 Icon"></ion-img>
    <ion-label></ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="navigateTo('/tabs/tab4')" class="white-background">
    <ion-img src="assets/settings.png" alt="Tab 4 Icon"></ion-img>
    <ion-label></ion-label>
  </ion-tab-button>
</ion-tab-bar>
