<ion-content class="ion-padding">
  <div class="rectangular-image"></div>
  <div class="rectangular-image1"></div>
  <div class="image-container">
    <img src="assets/login.jpg" class="stylish" alt="">
  </div>
  <div class="login-link">
    <a href="#" class="login-text">Already have an account? Log in</a>
  </div>
  <div class="button-container">
    <ion-button class="custom-button" size="large" color="#7B6CDB">Sign up with email</ion-button>
  </div>
  <div class="button-container1">
    <ion-button class="custom-button1" size="large" color="#FFFFFF
    " >Sign up with google</ion-button>
  </div>


</ion-content>