<ion-content class="my-component" style="position: relative;">
  <div class="rectangular-image"></div>
  <div class="rectangular-image1"></div>

  <div class="image-container1" style="position: absolute; top: 7%; left: 5%; width: 40%; max-width: 40%;">
    <img src="assets/Rectangle7.png" class="stylish" alt="">
  </div>
  <div class="image-container2" style="position: absolute; top: 7%; left: 60%; width: 40%; max-width: 40%;">
    <img src="assets/Rectangle6.png" class="stylish" alt="">
  </div>
  <div class="image-container3" style="position: absolute; top: 40%; left: 20%; width: 70%; max-width: 60%;">
    <img src="assets/Rectangle8.png" class="stylish" alt="">
  </div>
  <br><br><br><br><br>
  <div class="button-container">
    <ion-button class="custom-button" size="large" color="#7B6CDB" routerLink="/tabs">Explore</ion-button>
  </div>
  <p class="quote">Being creative is not a hobby</p> 
  <p class="quote1">it’s a way of life</p>
</ion-content>