/* styles.scss (global styles) */
ion-searchbar.custom-search-bar {
    --ion-background-color: white; /* Set background color to white */
    --ion-color-base: black; /* Set text color to black */
    --ion-placeholder-color: black; /* Set placeholder color to black */
    --border-radius: 12px; 
  }
  